################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/zj
/UIEffects
/New Unity Project
/explosionTest.rar
/explosionTest
/C#Study
/AngryBird
/PopStar/Temp/UnityLockfile
/PopStar/Temp/UnityLockfile
